<div class="item folder" 
	data-bind="
		draggablePlace: allowDrag() ? function (oFile, bCtrl) { return $parent.dragAndDropHelper(oFile, bCtrl); } : null,
		draggableDragStartCallback: function() { if (allowDrag()) $root.dragover(true); },
		draggableDragStopCallback: function() { if (allowDrag()) $root.dragover(false); },
		css: { 'selected': selected, 'checked': checked, 'deleted': deleted, 'published': published, 'incomplete': isIncomplete,
				'shared': bSharedWithMeAccessWrite, 'shared_read_only': bSharedWithMe && !bSharedWithMeAccessWrite }">

	<!-- ko if: (sHeaderDenseText.length > 0) -->
	<span class="header_dense" data-bind="text: sHeaderDenseText"></span>
	<!-- /ko -->
	
	<!-- ko if: (sHeaderText.length > 0) -->
	<span class="header" data-bind="text: sHeaderText"></span>
	<!-- /ko -->

	<div class="item_content ui-droppable dragHandle" data-bind="css: {'recivedAnim': recivedAnim()}, droppable: {valueFunc: !isIncomplete() ? function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);} : null}">
		<div class="image">
			<span class="icon animGoal"></span>
		</div>
		<span class="published_icon" data-bind="click: function (oItem) { $root.onShareIconClick(oItem); }"></span>
		<!-- ko if: (sharedWithOthers()) -->
		<span class="shared-image" data-bind="click: function (oItem) { $root.onFileShareIconClick(oItem); }"></span>
		<!-- /ko -->
		<span class="name" data-bind="text: displayName()"></span>
		<div class="footer" data-bind="visible: isIncomplete">
			<span class="progress">
				<span data-bind="style: {'width': progressPercent() + '%'}"></span>
				<span class="progress-percent" data-bind="text: progressPercent() + '%'"></span>
			</span>
		</div>
		<div class="separator"></div>
	</div>
</div>
